.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.backdrop-active {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: all;
}
